<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本机IP信息-->
    <add key="HostIP" value="192.168.1.33"/>
    <add key="HostSubmask" value="255.255.255.0"/>
    <add key="HostGateway" value="192.168.1.1"/>

    <!--协议端口-->
    <add key="ProtocolIP" value="192.168.1.88"/>
    <add key="ProtocolPort" value="5000"/>
    <add key="ProtocolHostPort" value="0"/>

    <!--透传端口1-->
    <add key="SerialNet1IP" value="192.168.1.88"/>
    <add key="SerialNet1Port" value="5001"/>
    <add key="SerialNet1HostPort" value="0"/>

    <!--透传端口2-->
    <add key="SerialNet2IP" value="192.168.1.88"/>
    <add key="SerialNet2Port" value="5002"/>
    <add key="SerialNet2HostPort" value="0"/>

    <!--透传端口3-->
    <add key="SerialNet3IP" value="192.168.1.88"/>
    <add key="SerialNet3Port" value="5003"/>
    <add key="SerialNet3HostPort" value="0"/>

    <!--透传端口4-->
    <add key="SerialNet4IP" value="192.168.1.88"/>
    <add key="SerialNet4Port" value="5004"/>
    <add key="SerialNet4HostPort" value="0"/>

    <!--BSE控制器-->
    <add key="BseControlChannel" value="Protocol"/>
    <add key="BseControlAddr" value="0x0000"/>
    <add key="BseControlID" value="0x0000"/>

    <!--CCS控制器-->
    <add key="CCSControlChannel" value="Protocol"/>
    <add key="CCSControlAddr" value="0x0000"/>
    <add key="CCSControlID" value="0x0000"/>

    <!--DAC控制器-->
    <add key="DacControlChannel" value="Protocol"/>
    <add key="DacControlAddr" value="0x0000"/>
    <add key="DacControlID" value="0x0000"/>

    <!--ETH控制器-->
    <add key="EthControlChannel" value="Protocol"/>
    <add key="EthControlAddr" value="0x0000"/>
    <add key="EthControlID" value="0x0000"/>

    <!--FAN控制器-->
    <add key="FanControlChannel" value="Protocol"/>
    <add key="FanControlAddr" value="0x0000"/>
    <add key="FanControlID" value="0x0000"/>

    <!--HV控制器-->
    <add key="HvControlChannel" value="SerialNet1"/>
    <add key="HvControlAddr" value="0x0000"/>
    <add key="HvControlID" value="0x0000"/>

    <!--LED控制器-->
    <add key="LedControlChannel" value="Serial3"/>
    <add key="LedControlAddr" value="0x0000"/>
    <add key="LedControlID" value="0x0000"/>

    <!--Motor控制器-->
    <add key="MotorControlChannel" value="Serial2"/>
    <add key="MotorControlAddr" value="0x0000"/>
    <add key="MotorControlID" value="0x0000"/>

    <!--Relay控制器-->
    <add key="RelayControlChannel" value="Protocol"/>
    <add key="RelayControlAddr" value="0x0000"/>
    <add key="RelayControlID" value="0x0000"/>

    <!--Scan控制器-->
    <add key="ScanControlChannel" value="Protocol"/>
    <add key="ScanControlAddr" value="0x0000"/>
    <add key="ScanControlID" value="0x0000"/>

    <!--Se控制器-->
    <add key="SeControlChannel" value="Protocol"/>
    <add key="SeControlAddr" value="0x0000"/>
    <add key="SeControlID" value="0x0000"/>

    <!--SeHv控制器-->
    <add key="SeHvControlChannel" value="Serial3"/>
    <add key="SeHvControlAddr" value="0x0102"/>
    <add key="SeHvControlID" value="0x0102"/>

    <!--Temp控制器-->
    <add key="TempControlChannel" value="Protocol"/>
    <add key="TempControlAddr" value="0x0000"/>
    <add key="TempControlID" value="0x0000"/>

    <!--Uart控制器-->
    <add key="UartControlChannel" value="Protocol"/>
    <add key="UartControlAddr" value="0x0000"/>
    <add key="UartControlID" value="0x0000"/>

    <!--Vac控制器-->
    <add key="VacControlChannel" value="Serial3"/>
    <add key="VacControlAddr" value="0x0101"/>
    <add key="VacControlID" value="0x0101"/>

  </appSettings>
</configuration>