<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--仪器模型-->
    <!--<add key="Instrument" value="Zem15C"/>-->
    <!--<add key="Instrument" value="Zem20"/>-->
    <!--<add key="Instrument" value="Zem20F"/>-->

    <!--电机信息-->
    <add key="IsSelfMotor" value="true"/>
    <add key="IsStmMotor" value="false"/>
    <add key="IsMotor5" value="false"/>

    <!--是否是新高压线协议-->
    <add key="IsHvNewProto" value="false"/>

    <!--本机IP信息-->
    <add key="HostIP" value="192.168.1.34"/>
    <add key="HostSubmask" value="255.255.0.0"/>
    <add key="HostGateway" value="192.168.1.1"/>

    <!--协议端口-->
    <add key="ProtocolIP" value="192.168.1.88"/>
    <add key="ProtocolPort" value="5000"/>
    <add key="ProtocolHostPort" value="0"/>
    <add key="ProtocolInterval" value="500"/>

    <!--透传端口1-->
    <add key="SerialNet1IP" value="192.168.1.88"/>
    <add key="SerialNet1Port" value="5001"/>
    <add key="SerialNet1HostPort" value="0"/>
    <add key="SerialNet1Baud" value="115200"/>
    <add key="SerialNet1Interval" value="500"/>

    <!--透传端口2-->
    <add key="SerialNet2IP" value="192.168.1.88"/>
    <add key="SerialNet2Port" value="5002"/>
    <add key="SerialNet2HostPort" value="0"/>
    <add key="SerialNet2Baud" value="115200"/>
    <add key="SerialNet2Interval" value="500"/>

    <!--透传端口3-->
    <add key="SerialNet3IP" value="192.168.1.88"/>
    <add key="SerialNet3Port" value="5003"/>
    <add key="SerialNet3HostPort" value="0"/>
    <add key="SerialNet3Baud" value="115200"/>
    <add key="SerialNet3Interval" value="500"/>

    <!--透传端口4-->
    <add key="SerialNet4IP" value="192.168.1.88"/>
    <add key="SerialNet4Port" value="5004"/>
    <add key="SerialNet4HostPort" value="0"/>
    <add key="SerialNet4Baud" value="115200"/>
    <add key="SerialNet4Interval" value="500"/>

    <!--透传端口5-->
    <add key="SerialNet5IP" value="192.168.1.88"/>
    <add key="SerialNet5Port" value="5005"/>
    <add key="SerialNet5HostPort" value="0"/>
    <add key="SerialNet5Baud" value="115200"/>
    <add key="SerialNet5Interval" value="500"/>

    <!--Zem15C.CoreControl控制器-->
    <add key="Zeptools.CoreControl.Channel" value="Protocol"/>
    <add key="Zeptools.CoreControl.Addr" value="0x0100"/>
    <add key="Zeptools.CoreControl.ID" value="0x0100"/>

    <!--HV控制器-->
    <add key="Zeptools.HvSource.Channel" value="SerialNet5"/>
    <add key="Zeptools.HvSource.Addr" value="0x0000"/>
    <add key="Zeptools.HvSource.ID" value="0x0203"/>

    <!--LED控制器-->
    <add key="Zeptools.Led.Channel" value="SerialNet2"/>
    <add key="Zeptools.Led.Addr" value="0x0102"/>
    <add key="Zeptools.Led.ID" value="0x0102"/>

    <!--ZEM15C.Motor控制器-->
    <add key="Zeptools.Motor.Channel" value="SerialNet3"/>
    <add key="Zeptools.Motor.Addr" value="0x0300"/>
    <add key="Zeptools.Motor.ID" value="0x0300"/>

    <!--LiMainSheng.Motor控制器-->
    <add key="LiMainSheng.Motor.Channel" value="SerialNet3"/>
    <add key="LiMainSheng.Motor.Addr" value="0x0000"/>
    <add key="LiMainSheng.Motor.ID" value="0x0000"/>

    <!--HFUT.Motor控制器-->
    <add key="HFUT.Motor.Channel" value="SerialNet3"/>
    <add key="HFUT.Motor.Addr" value="0x0000"/>
    <add key="HFUT.Motor.ID" value="0x0000"/>

    <!--SeHv控制器-->
    <add key="Zeptools.SeHv.Channel" value="SerialNet2"/>
    <add key="Zeptools.SeHv.Addr" value="0x0201"/>
    <add key="Zeptools.SeHv.ID" value="0x0201"/>

    <!--Vac控制器-->
    <add key="Zeptools.Vacuum.Channel" value="SerialNet2"/>
    <add key="Zeptools.Vacuum.Addr" value="0x0101"/>
    <add key="Zeptools.Vacuum.ID" value="0x0101"/>

    <!--安捷伦分子泵控制器-->
    <add key="Agilent.IonPump.Channel" value="SerialNet1"/>
    <add key="Agilent.IonPump.Addr" value="0x0000"/>
    <add key="Agilent.IonPump.ID" value="0x0000"/>

    <!--光学联动控制器-->
    <add key="Zeptools.Mag.Channel" value="SerialNet4"/>
    <add key="Zeptools.Mag.Addr" value="0x0000"/>
    <add key="Zeptools.Mag.ID" value="0x0000"/>

  </appSettings>
</configuration>